*{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body,
input,
#offerHelpTB,
#occupants,
.addrBtn {
    font-size: 1.5em;
}

label{
   font-size: .95em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.shareSpace,{
   border-radius: 5px;
   padding: .5em;
   border: 1px solid grey;
   margin-top: .5em;
   margin-bottom: .5em;
}

#offerHelpTB {
   border-radius: 5px;
   /* width: 90vw; */
   padding: .5em;
   background-color: #d8d8d8;
   margin-bottom: .5em;
}
.addSpaceBtn{
   padding: 2em;
   margin: 2em
}

.headerimg{
   background: url("sfsr.png")
}
.cb::after{
   color:blue;
}
.addrBtn{
   background-color: #4285f5;
   color: white;
   /* width: 90vw; */
   padding: .5em;
   border-radius: 5px;
}
.address{
   color:red;
}

#occupants{
   /* width: 10vh; */
   border: 1px solid black;
}

.addSpaceBtn{
   background-color: #4285f5;
   color: white;
   /* width: 80vw; */
   border-radius: 5px;
   font-size: .75em;
   text-transform: uppercase;
}